body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: rgb(193, 215, 235);
  }
  
  input{
    font-size: 20px;
    margin: 10px;
    padding: 5px;
  }
  button{
    background-color: rgb(192, 192, 233);
    font-size: 18px;
    margin: 10px;
    padding: 5px;

  }
  button:hover{
    background-color: rgb(101, 137, 168);
  }